<div class="row">
  <div style="display: flex;">
    <img class="img-responsive center-block" src="{{user.image}}" style="width: 250px;margin-bottom: 25px;">
    <div>
      <div class="col-md-12">
        <h1>{{user.name}}</h1>
      </div>
      <div class="col-md-4">
        <br>
        <div class="email">{{user.email}}</div>
      </div>
      <div class="col-md-8">
        <a href="/users/{{user.id}}/edit">edit</a>
      </div>
    </div>
  </div>
  <hr>
</div>
<hr>
<br />
<div class="row" style="background-color: rgba(235, 228, 228, 0.2)">
  <div class="col-12 mb-2 "
    style="border-bottom: 1px solid gray; background-color: rgba(190, 190, 190,0.5); height:50px;display:flex; align-items:center">
    已評論餐廳訊息
  </div>
  <div class="col-12" style=" display: flex">
    {{#each user.Comments}}
    <div class="comment-container mx-2">
      <a href="/restaurants/{{this.Restaurant.id}}">
        <img style="width:80px" src="{{this.Restaurant.image}}">
      </a>
      <div>{{this.Restaurant.name}}</div>
    </div>
    {{/each}}
  </div>
</div>
<br />
<br />
<a href="javascript:history.back()">回上一頁</a>