<div class="row">
  <div style="display: flex;">
    <img class="img-responsive center-block" src="{{user1.image}}" style="width: 250px;margin-bottom: 25px;">
    <div class="ml-5">
      <div class="col-md-12">
        <h1>{{user1.name}}</h1>
      </div>
      <div class="col-md-4">
        <div class="email">{{user1.email}}</div>
      </div>
      <div class="col-12">
        <div class="info mb-1"><strong>{{commentCounts}}</strong> 已評論餐廳</div>
        <div class="info mb-1"><strong>{{favoritedRestaurants}}</strong> 收藏的餐廳</div>
        <div class="info mb-1"><strong>{{followingsCounts}}</strong> followings</div>
        <div class="info mb-1"><strong>{{followersCounts}}</strong> followers</div>
      </div>
      {{#if isUser}}
      <div class="col-md-8">
        <a href="/users/{{user1.id}}/edit">edit</a>
      </div>
      {{/if}}
      {{#if this.isFollowed }}
      <form action="/following/{{user1.id}}?_method=DELETE" method="POST" style="display: contents;"><button
          type="submit" class="btn btn-danger">取消追蹤</button></form>
      {{else}}
      <form action="/following/{{user1.id}}" method="POST" style="display: contents;"><button type="submit"
          class="btn btn-primary">追蹤</button></form>
      {{/if}}
    </div>
  </div>
  <hr>
</div>
<hr>
<br />
<div class="row">
  <div class="row col-5 px-0 mx-2 mb-2" style="background-color: rgba(235, 228, 228, 0.2)">
    <div class="col-12 mb-2 "
      style="border-bottom: 1px solid gray; background-color: rgba(190, 190, 190,0.5); height:50px;display:flex; align-items:center">
      已評論餐廳
    </div>
    <div class="col-12" style=" display: flex">
      {{#each user1.Comments}}
      <div class="comment-container mx-2">
        <a href="/restaurants/{{this.Restaurant.id}}">
          <img style="width:80px" src="{{this.Restaurant.image}}">
        </a>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="row col-5 px-0 mx-2 mb-2" style="background-color: rgba(235, 228, 228, 0.2)">
    <div class="col-12 mb-2 "
      style="border-bottom: 1px solid gray; background-color: rgba(190, 190, 190,0.5); height:50px;display:flex; align-items:center">
      收藏的餐廳
    </div>
    <div class="col-12" style=" display: flex">
      {{#each user.FavoritedRestaurants}}
      <div class="comment-container mx-2">
        <a href="/restaurants/{{this.id}}">
          <img style="width:80px" src="{{this.image}}">
        </a>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="row  col-5 px-0 mx-2 mb-2" style="background-color: rgba(235, 228, 228, 0.2)">
    <div class="col-12 mb-2 "
      style="border-bottom: 1px solid gray; background-color: rgba(190, 190, 190,0.5); height:50px;display:flex; align-items:center">
      followings(追蹤者)
    </div>
    <div class="col-12" style=" display: flex">
      {{#each user.Followings}}
      <div class="comment-container mx-2">
        <a href="/users/{{this.id}}">
          <img style="width:80px" src="{{this.image}}">
        </a>
        <div>{{this.name}}</div>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="row  col-5 px-0 mx-2 mb-2" style="background-color: rgba(235, 228, 228, 0.2)">
    <div class="col-12 mb-2 "
      style="border-bottom: 1px solid gray; background-color: rgba(190, 190, 190,0.5); height:50px;display:flex; align-items:center">
      followers(追隨者)
    </div>
    <div class="col-12" style=" display: flex">
      {{#each user.Followers}}
      <div class="comment-container mx-2">
        <a href="/users/{{this.id}}">
          <img style="width:80px" src="{{this.image}}">
        </a>
        <div>{{this.name}}</div>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<br />
<br />
<a href="javascript:history.back()">回上一頁</a>